html {
  box-sizing: border-box;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  color: rgba(0, 153, 255, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f0
    url("https://rawgithub.com/subtlepatterns/SubtlePatterns/gh-pages/paper_fibers.png") !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
